* {
    /* outline: 1px solid gold;
    outline-offset: -1px; */
}
.App {
    text-align: center;
    background-color: black;
    height: 100vh;
    color: white;
    font-family: "Kite One", sans-serif;
}
